Source: kali-themes
Section: misc
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploaders: Daniel Ruiz de Alegría <daniel@drasite.com>, Raphaël Hertzog <raphael@offensive-security.com>
Build-Depends:
 debhelper-compat (= 12),
 librsvg2-bin,
 optipng,
Standards-Version: 4.6.0
Vcs-Git: https://gitlab.com/kalilinux/packages/kali-themes.git
Vcs-Browser: https://gitlab.com/kalilinux/packages/kali-themes

Package: kali-themes-common
Architecture: all
Depends:
# Dependency on the package providing the current default background
 kali-wallpapers-2020.4 (>= 2021.2.0),
 ${misc:Depends}
Recommends:
# Temporary dependency. When version 2021.4.0 is released, move this
# package to Depends, and move kali-wallpapers-2020.4 to Suggests.
 kali-wallpapers-2021.4,
Suggests:
 gtk2-engines-pixbuf,
 librsvg2-common,
# List old wallpapers so that they are not auto-removed on upgrade
 kali-wallpapers-2019.4,
 kali-wallpapers-legacy
Breaks: gnome-theme-kali (<< 2019.4),
        desktop-base (<< 10.0.3+kali2),
        kali-menu (<< 2021.3.2),
        kali-desktop-kde (<< 2021.4.1),
Replaces: gnome-theme-kali (<< 2019.4),
          desktop-base (<< 10.0.3+kali2),
          kali-menu (<< 2021.3.2),
Provides: gnome-theme-kali
Description: Kali Themes (data files)
 This package contains multiple themes for kali. It includes graphical toolkit
 themes, icon themes, color schemes, desktop backgrounds and more.
 .
 This package only contains the actual files, it doesn't change any system
 setting and doesn't enable any Kali theme by default.

Package: kali-desktop-base
Architecture: all
Depends: kali-themes-common (= ${source:Version}),
 ${misc:Depends}
Description: Kali version of Debian's desktop-base package
 This empty package provides hooks into the various alternatives defined by
 Debian's desktop-base to provide consistent Kali branding through the whole
 distribution.

Package: kali-themes
Architecture: all
Depends:
 kali-themes-common (= ${source:Version}),
 kwin-style-kali,
# gsettings and other config files reference those fonts
 fonts-cantarell,
 fonts-firacode,
# Engines for GTK and icon themes
 gtk2-engines-pixbuf,
 librsvg2-common,
# For boot-time splash screen
 plymouth-label,
 ${misc:Depends}
Breaks: kali-defaults (<< 2019.4.0),
 kali-desktop-xfce (<< 2020.2.18),
 gnome-shell (<< 40.2),
 kali-menu (<< 2019.4.4),
Replaces: kali-defaults (<< 2019.4.0)
Description: Configure all desktops to use the Kali theme
 Installing this package should configure most desktops to use the Kali theme
 by default.
 .
 The actual artwork files are provided by kali-themes-common but this package
 provides configuration files and other settings for each desktop so that
 they use the Kali theme by default.

Package: gnome-theme-kali
Architecture: all
Depends: kali-themes,
 ${misc:Depends}
Description: Transitional package to install kali-themes
 All the theme related files have been moved to kali-themes.
 .
 This dummy package can be safely removed once kali-themes is installed on the
 system.
