Source: kali-themes
Section: misc
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploaders: Daniel Ruiz de Alegría <daniel@drasite.com>, Raphaël Hertzog <raphael@offensive-security.com>
Build-Depends: debhelper-compat (= 12),
 librsvg2-bin,
 optipng,
Standards-Version: 4.4.1
Vcs-Git: https://gitlab.com/kalilinux/packages/kali-themes.git
Vcs-Browser: https://gitlab.com/kalilinux/packages/kali-themes

Package: kali-themes-common
Architecture: all
Depends: ${misc:Depends}
Suggests: gtk2-engines-murrine
Breaks: gnome-theme-kali (<< 2019.4), desktop-base (<< 10.0.3+kali2)
Replaces: gnome-theme-kali (<< 2019.4), desktop-base (<< 10.0.3+kali2)
Provides: gnome-theme-kali
Description: Kali Themes (data files)
 This package contains multiple themes for kali. It includes graphical toolkit
 themes, icon themes, color schemes, desktop backgrounds and more.
 .
 This package only contains the actual files, it doesn't change any system
 setting and doesn't enable any Kali theme by default.

Package: kali-desktop-base
Architecture: all
Depends: kali-themes-common (= ${source:Version}),
 ${misc:Depends}
Provides: desktop-base (= 10.0.3)
Description: Kali version of Debian's desktop-base package
 This empty package provides hooks into the various alternatives defined by
 Debian's desktop-base to provide consistent Kali branding through the whole
 distribution.

Package: kali-themes
Architecture: all
Depends: kali-themes-common (= ${source:Version}),
# gsettings and other config files reference those fonts
 fonts-cantarell,
 fonts-firacode,
# The GTK theme uses this engine
 gtk2-engines-murrine,
# Needed for QT_QPA_PLATFORMTHEME=gtk2 to have an effect
 qt5-style-plugins,
 ${misc:Depends}
Breaks: kali-defaults (<< 2019.4.0)
Replaces: kali-defaults (<< 2019.4.0)
Description: Configure all desktops to use the Kali theme
 Installing this package should configure most desktops to use the Kali theme
 by default.
 .
 The actual artwork files are provided by kali-themes-common but this package
 provides configuration files and other settings for each desktop so that
 they use the Kali theme by default.

Package: gnome-theme-kali
Architecture: all
Depends: kali-themes,
 ${misc:Depends}
Description: Transitional package to install kali-themes
 All the theme related files have been moved to kali-themes.
 .
 This dummy package can be safely removed once kali-themes is installed on the
 system.
