[Desktop Entry]
Name=Kali Logo

X-KDE-PluginInfo-Name=KaliLogo
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
#X-KDE-PluginInfo-License=GPL-2
