[Desktop Entry]
Name=Kali Black

X-KDE-PluginInfo-Name=Kali Black
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
